<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY BLOG</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <section id="container">
        <h1>BLOG</h1>
        <nav>
          <a href="/">HOME</a>
          <a href="/contact">CONTACT</a>
          <a href="/about">ABOUT</a>
          <a href="/create">CREATE STORY</a>
          <a href="/signin">SIGN IN</a>
        </nav>
      </section>
    </header>

    <main>
      <h2>Latest article</h2>
      <section id="container">
        <div id="home">
          <% for (const data of datas) { %>
          <article>
            <h3><%= data.title %></h3>
            <img src="/images/<%= data.img %>" />
            <a href="/story/<%=data.id%>">READ MORE</a>
          </article>
          <% } %>
        </div>
      </section>
    </main>
    <footer>
      <p>© 2024 - MY BLOG</p>
    </footer>
  </body>
</html>
