<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY BLOG</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <section id="container">
        <h1>BLOG</h1>
        <nav>
          <a href="/">HOME</a>
          <a href="/contact">CONTACT</a>
          <a href="/create">CREATE STORY</a>
          <a href="/signin">SIGN IN</a>
        </nav>
      </section>
    </header>

    <main>
      <section id="container home">
        <h2>Page not found</h2>
        <br />
      </section>
    </main>
    <footer>
      <p>© 2024 - MY BLOG</p>
    </footer>
  </body>
</html>
