<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MY BLOG</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <header>
      <section id="container">
        <h1>MY BLOG</h1>
        <nav>
          <a href="/">HOME</a>
          <a href="/contact">CONTACT</a>
          <a href="/create">CREATE STORY</a>
          <a href="/signin">SIGN IN</a>
        </nav>
      </section>
    </header>

    <main>
      <h2>Add new story</h2>
      <section id="create-story">
        <form action="/create" method="post">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            required
            placeholder="Please indicate a title"
          />
          <label for="content">Content</label>
          <textarea
            name="content"
            id="content"
            required
            placeholder="Please indicate a story"
          ></textarea>

          <label for="image">Image</label>
          <input
            type="text"
            name="img"
            id="image"
            required
            placeholder="Please enter the image file name"
          />

          <label for="category">Category</label>
          <select name="category_id" id="category">
            <% for (const category of categories) {%>
            <option value="<%= category.id %>"><%= category.label %></option>
            <% } %>
          </select>

          <button type="submit">Create</button>
        </form>
      </section>
    </main>
    <footer>
      <p>© 2024 - MY BLOG</p>
    </footer>
  </body>
</html>
